*{
    padding: 0;
    margin: 0;
    list-style: none;
    
}

:root{
    --main-gradient: linear-gradient(to left top, #7000ff, #0051ff, #006eff, #0081ed, #008fd4, #3889c0, #4c83ad, #5a7d9a, #516887, #495372, #413e5d, #382b47);
    --second-gradient: linear-gradient(to right top, #006eff, #0079f8, #0082ee, #0089e2, #008fd4);
    --main-font: 'Inter', sans-serif;
    --second-font: 'Roboto', sans-serif;
}

.main-container{
    background-image: var(--main-gradient);
    color: #ffff

}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: var(--main-font);
}

.media-links{
    width: 40vw;
       
}

.media-links ul{
    height: 10vh;
    width: 99%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;

}
.navigation ul{
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    
}



.media-links ul li, .navigation ul li{
    border-radius: 20px;
    padding: 10px;
}

.navigation{
    
    width: 60vw;
}

.apresentation-home-page{
    width: 100%;
    height: 100vh;
    font-family: var(--second-font);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.apresentation-image-content{
    width: 50vw;
    height: 50vh;
    
}

.apresentation-image-content img{
    width: 100%;
    height: 100%;
}

.title-apresentation{
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% 
}

.apresentation-text{
    color:#00A872;
    font-family: var(--second-font);
    font-weight: 900;
    font-size: x-large;
}

.projects{
    width: 100%;
    height: 100vh;
     
     
}

.title-sessions{
    display: block;
    padding: 30px;
    text-align: center;
    font-family: var(--main-font);
}

.text-inside{
    text-align: center;
    padding: 15px;
    font-family: var(--second-font);
    font-weight: 500;
}


.cards-project{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.project-card{
    height: 500px;
    width: 500px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.1) 10%, #4c83ad 80%), url(../img/background-card.png);
    background-size: cover;
    box-shadow: 10px 10px 5px #006eff;
    color: white;
    border-radius: 20px;
    font-family: var(--second-font);
    text-align: center;
    
}

.about{
    width: 100%;
    height: 100vh;   
}

.about-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
   
}



.about-image-content{
    width: 20vw;
    height: 60vh; 
   
        
}

.about-image-content img{
    width: 90%;
    height: 75%;
    border-radius: 50%;
    box-shadow: 15px;
}

.contact{
    width: 100%;
    height: 100vh;
    
}


.ways-of-contact{
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.text2-contact{
    height: 20vh;
    padding: 15px;
}


.media-links-contact{
    width: 30vw;
    margin: 0 auto;
    padding: 15px 0px;
}

a:visited{
   text-decoration-color: #ffff;
}

a:hover{
    color: #ffff;
}

a:link{
    color: #ffff;
}

a{
    text-decoration: none;
}

.media-links-contact ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.media-links-contact ul li{
    padding: 10px;
}

