*{
    padding: 0;
    margin: 0;
    list-style: none;
    
}

.main-container{
    background-color: aqua;
    height: 400vh;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.media-links{
    width: 40%;
    background-color: black;
    
}

.media-links ul{
    height: 10vh;
    color: white;
    width: 99%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;

}
.navigation ul{
    height: 10vh;
    color: white;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    
}

.media-links ul li, .navigation ul li{
    border-radius: 20px;
    background-color: blue;
    padding: 10px;
}

.navigation{
    background-color: red;
    width: 60%;
}

.apresentation-home-page{
    width: 100%;
    height: 100vh;
    background-color: bisque;
}

.projects{
    width: 100%;
    height: 100vh;
    background-color: orangered;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
}

.cards-projects{
    width: 100%;
    height: 70vh;
    display: flex;
    gap: 35px;
}

.project-card{
    height: 10vh;
    width: 100%;
    background-color: blue;
    color: white;
    padding: 50px;
}

.about{
    width: 100%;
    height: 100vh;
    background-color: green;
}

.contact{
    width: 100%;
    height: 100vh;
    background-color: violet;
}


